body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app{
    height: 100%;
}

#main-block{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    padding: 24px 36px;
}

.main-card{
    width: 32%;
    height: 48%;
}