<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../plugins/elementui/index.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>

</head>
<body>
<div id="app" v-cloak>
    <el-form ref="form" :model="formData" label-width="150px" style="padding: 34px 24px;" size="small"
             label-position="left">
        <el-form-item label="选择模板">
            <el-select @change="onSelectChange" v-model="formData.id">
                <el-option v-for="excelTemplate in excelTemplateList" :label="excelTemplate.templateName"
                           :key="excelTemplate.id" :value="excelTemplate.id"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="下载excel模板">
            <el-button type="primary" icon="el-icon-download" style="font-size: 20px;padding: 4px 14px;"
                       @click="downloadExcelTemplate()"></el-button>
        </el-form-item>
        <el-form-item label="上传数据文件">

            <el-upload
                    style="margin:20px 0 10px 0 "
                    drag
                    action="http://localhost:8444/api/tool/file/uploadFile"
                    :on-success="onUploadSuccess"
                    :before-upload="beforeUpload"
                    :default-file-list="defaultFileList"
                    multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </el-upload>


        </el-form-item>
        <el-form-item>
            <el-button type="success" @click="startImport()" :loading="loading.importing">开始导入</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script src="../../../plugins/vue/vue.js"></script>
<script src="../../../plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="../../../plugins/elementui/index.js"></script>
<script src="../../../js/utils.js"></script>
<script src="../../../js/management/excel/ImportData.js"></script>
</html>