<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../plugins/elementui/index.css">
    <link rel="stylesheet" href="../../../css/management/excel/TemplateManager.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>

</head>
<body>
    <div id="app" v-cloak v-loading="fullScreenLoading"style="margin-top:5px; " v-if="showWindow">

        <span style="margin: 10px">
            <el-button type="success" size="small" @click="insertOrUpdateDialog.visible=true">新增模版</el-button>
            <el-button type="danger" size="small" @click="deleteTemplateByIds()">删除模版</el-button>
        </span>

        <el-table  :data="table.data" height="600px" v-loading="table.loading"
                   style="width: 100%;overflow-y: hidden;margin-top: 15px;" class="scroll-bar" stripe border
                   width="100%"
                   @selection-change="handleSelectionChange"
        >
            <el-table-column type="selection" ></el-table-column>
            <el-table-column label="模版名称" prop="templateName" ></el-table-column>
            <el-table-column label="模版类别" prop="typeName"></el-table-column>
            <el-table-column>
                <el-button type="danger">编辑</el-button>
            </el-table-column>

        </el-table>

        <!--新增模版的dialog-->
        <el-dialog :title="insertOrUpdateDialog.title" :before-close="handleDialogClose" :visible="insertOrUpdateDialog.visible" lock-scroll  top="25px"  style="position:absolute;top:0;">
            <iframe v-if="insertOrUpdateDialog.visible" src="addTemplateDialog.html" frameborder="false" style="width:100%;height: 550px" ></iframe>
        </el-dialog>
    </div>
</body>
<script src="../../../plugins/vue/vue.js"></script>
<script src="../../../plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="../../../plugins/elementui/index.js"></script>
<script src="../../../js/utils.js"></script>
<script src="../../../js/management/excel/TemplateManager.js"></script>


</html>