<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>涉密存储介质</title>
    <link rel="stylesheet" href="../../css/template.css">
    <script src="../../js/template.js"></script>
    <link rel="stylesheet" href="../../css/storage/confidentialStorage.css">
</head>
<body>
<div id="app" v-cloak style="background: white;height: 100%;overflow: hidden;" v-loading="fullScreenLoading">
    <div style="padding: 15px 20px 0 15px;">
        <span class="button-group">
            <el-button size="small" @click="dialog.visible=true;getDialogList()" style="margin-left: 10px;">手工录入</el-button>
            <!--todo Excel操作-->
            <el-button size="small" type="primary" style="margin-left: 10px;" disabled>Excel导入</el-button>
            <el-button size="small" type="primary" plain  style="margin-left: 10px;"
                       @click="exportData"  >导出到Excel</el-button>
            <el-button size="small" type="danger" @click="deleteByIds(table.selectionList)"
                       style="margin-left: 10px;">删除选中</el-button>
        </span>

        <span style="float: right;margin-right: 10px;">
            <el-form :inline="true" :model="filters">
                <el-form-item>
                    <el-select v-model="filters.value1" clearable placeholder="选择类别"
                               @change="getSub($event)" size="mini">
                        <el-option
                                v-for="item in select1"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <el-select v-model="filters.value2" placeholder="请先选择类别" v-if="filters.value1 != 'dept'"
                               :loading="loading" @change="getList($event)" size="small" clearable>
                        <el-option
                                v-for="item in select2"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"></el-option>
                    </el-select>
                    <el-select v-model="filters.value3" placeholder="选择学院" v-if="filters.value1 == 'dept'"
                               :loading="loading" @change="getList($event);getDeptSub($event)" size="small" clearable>
                        <el-option
                                v-for="item in select3"
                                :key="item.id"
                                :label="item.dept_name"
                                :value="item.id"></el-option>
                    </el-select>
                    <el-select v-model="filters.value4" placeholder="请先选择学院" v-if="filters.value1 == 'dept'"
                               :loading="loading" @change="getList($event)" clearable>
                        <el-option
                                v-for="item in select4"
                                :key="item.id"
                                :label="item.dept_name"
                                :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </span>
    </div>

    <el-table :data="table.data" height="calc(100vh - 150px)" v-loading="table.loading"
              style="width: 100%;overflow-y: hidden;margin-top: 15px;" class="scroll-bar"
              @selection-change="onSelectionChange" stripe
              width="100%">
        <el-table-column type="selection" width="50" fixed></el-table-column>

        <el-table-column label="单位" width="100" prop="department_name" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="科室/课题组" width="180" prop="subject_name" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="保密编号" width="150" prop="secret_number" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="类型" width="80" prop="_type" align="center" header-align="center"></el-table-column>
        <el-table-column label="型号" width="100" prop="model" align="center" header-align="center"></el-table-column>
        <el-table-column label="责任人" width="100" prop="person" align="center" header-align="center"></el-table-column>
        <el-table-column label="密级" width="80" prop="_secret_level" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="序列号" width="200" prop="serial_number" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="放置地点" width="200" prop="place_location" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="用途" width="130" prop="_usage" align="center" header-align="center"></el-table-column>
        <el-table-column label="使用范围" width="100" prop="_scope" align="center" header-align="center"></el-table-column>
        <el-table-column label="启用时间" width="100" prop="enablation_time" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="使用情况" width="100" prop="_use_situation" align="center"
                         header-align="center"></el-table-column>
        <el-table-column label="备注" width="100" prop="remarks" align="center" header-align="center"></el-table-column>

        <el-table-column label="操作" header-align="center" align="center" fixed="right" width="150">
            <template slot-scope="scope">
                <el-button type="warning" size="mini" style="position:relative;bottom: 1px;"
                           @click="updateDialog(scope.row)">
                    <span>编辑</span>
                </el-button>
                <el-button type="danger" size="mini" style="position:relative;bottom: 1px;margin-left: 6px;"
                           @click="deleteByIds([{id: scope.row.id}])">
                    <span>删除</span>
                </el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-pagination style="text-align: center;margin: 8px auto;"
                   @size-change="onPageSizeChange"
                   @current-change="onPageIndexChange"
                   :current-page="table.props.pageIndex"
                   :page-sizes="table.props.pageSizes"
                   :page-size="table.props.pageSize"
                   :total="table.props.total"
                   layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>

    <el-dialog title="添加记录" :visible.sync="dialog.visible" heigth="700" @closed="resetDialogData">
        <el-form label-position="left" label-width="140px" style="padding: 0 100px;"
                 v-loading="dialog.loading" status-icon>
            <el-form-item label="单位" :required="true">
                <el-select v-model="dialog.data.department_name" @change="handleSchoolChange">
                    <el-option v-for="item in dialog.selectionList.department"
                               :key="item.id"
                               :label="item.dept_name"
                               :value="item"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="科室/课题组" :required="true">
                <el-select v-model="dialog.data.subject_name" @change="handleSubjectChange">
                    <el-option v-for="item in dialog.selectionList.subject"
                               :key="item.id"
                               :label="item.dept_name"
                               :value="item"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="保密编号" :required="true">
                <el-input v-model="dialog.data.secret_number"></el-input>
            </el-form-item>
            <el-form-item label="类型" :required="true">
                <el-select v-model="dialog.data.type" @change="handleTypeChange">
                    <el-option v-for="item in dialog.selectionList.type"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="型号" :required="true">
                <el-input v-model="dialog.data.model"></el-input>
            </el-form-item>
            <el-form-item label="责任人" :required="true">
                <el-input v-model="dialog.data.person"></el-input>
            </el-form-item>
            <el-form-item label="密级" :required="true">
                <el-select v-model="dialog.data.secret_level" @change="handleLevelChange">
                    <el-option v-for="item in dialog.selectionList.secret_level"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="序列号" :required="true">
                <el-input v-model="dialog.data.serial_number"></el-input>
            </el-form-item>
            <el-form-item label="放置地点" :required="true">
                <el-input v-model="dialog.data.place_location"></el-input>
            </el-form-item>
            <el-form-item label="用途" :required="true">
                <el-select v-model="dialog.data.usage" @change="handleUsageChange">
                    <el-option v-for="item in dialog.selectionList.usage"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="使用范围" :required="true">
                <el-select v-model="dialog.data.scope" @change="handleScopeChange">
                    <el-option v-for="item in dialog.selectionList.scope"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="启用时间" :required="true">
                <el-date-picker v-model="dialog.data.enablation_time"
                                placeholder="选择日期"
                                value-format="yyyy-MM-dd"
                                format="yyyy-MM-dd"></el-date-picker>
            </el-form-item>
            <el-form-item label="使用情况" :required="true">
                <el-select v-model="dialog.data.use_situation" @change="handleSituationChange">
                    <el-option v-for="item in dialog.selectionList.use_situation"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="dialog.data.remarks"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer">
            <el-button size="medium" @click="dialog.visible=false">取 消</el-button>
            <el-button size="medium" type="primary" style="margin-left: 10px;" @click="insertOrUpdateStorage" :disabled=isInsertStorageDisable>提 交</el-button>
        </div>
    </el-dialog>

    <el-dialog title="导出到Excel" :visible.sync="exportInfo.visible" >
        <iframe :src="exportInfo.src" style="border: 0px;height:400px;width: 100%;"></iframe>
    </el-dialog>
</div>
</body>
<script src="../../js/storage/confidentialStorage.js"></script>
</html>